 [Unit]
 Description=EspressoPI Gaggia Controller server
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/pi/PythonScripts/EspressoRaspberryPi
 ExecStart=/usr/bin/bash /home/pi/PythonScripts/EspressoRaspberryPi/execstart.sh

 [Install]
 WantedBy=multi-user.target